#title{
    -fx-font-size: 50;
    -fx-padding: 0 0 120 0;
}

#buttons{
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent;
    -fx-font-size: 20; 
    -fx-pref-width: 130;
    -fx-pref-height: 20;
}

#hyperlink{
    -fx-text-fill: black;
    -fx-font-size: 15; 
    -fx-border-color: transparent;
}

#center_box{
    -fx-alignment: center; 
}

#info_grid{
    -fx-alignment: center; 
    -fx-padding: 0 0 100 0;
}

#back_box{
    -fx-alignment: bottom-left;
    -fx-padding: 5 5 5 5;
}

#labels{
    -fx-font-size: 17;
    -fx-padding: 5 0 0 0;

}

#combobox{
    -fx-font-size: 15;
    -fx-pref-width: 200;
    -fx-pref-height: 17;
}

#save{
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent;
    -fx-font-size: 15; 
    -fx-pref-width: 60;
    -fx-pref-height: 15;
}

#console{
    -fx-border-color: black;
    -fx-max-width: 650;
    -fx-max-height: 450;
    -fx-focus-color: transparent; 
    -fx-faint-focus-color: transparent;
}

#console .scroll-pane{
    -fx-vbar-policy: always; 
    -fx-hbar-policy: never; 
}

#course_types{
    -fx-font-size: 13;
    -fx-text-fill: black;
    -fx-padding: 5 0 0 0;
}

#bottom_box{
    -fx-padding: 5 5 5 5;
    -fx-spacing: 105;
}

#top_box{
    -fx-padding: 5 5 5 25;
    -fx-spacing: 360;
}

